<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <services>
        <service name="pot_sem2.GameService">
          <endpoint 
            binding="netTcpBinding"
            contract="pot_sem2.IGameService" />
        </service>
      </services>
      <client>
        <endpoint 
          binding="netTcpBinding"
          name="GameService" 
          contract="pot_sem2.IGameService" />
      </client>
    </system.serviceModel>
</configuration>